body{
    /* display: flex;
    justify-content: center;
    align-content: center; */
    background-color: pink;
    
}

h1{
    width: 500px;
    margin: auto;
}

grid{
    margin: auto;
    height: 90vh;
    width: 97vw;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 15fr;
}
.maps{
    border-style: solid;
    border-width: 3px;;
    border-color: black;
}
#map1{
    grid-row: 3/4;
    grid-column: 3/4;
    /* height: 700px;
    width: 40%; */
}

#streetView{
    grid-row: 3/4;
    grid-column: 1/2;
    /* height: 700px;
    width: 40%; */
}

#searchBar{
    grid-column: 1/4;
    margin-right: 20px;
}

#options{
    background-color: blue;
    grid-row: 3/4;
    grid-column:4/5;
}
#streetViewButtons{
    display: flex;
    justify-content: center;
    grid-column: 1;
}
#newLocation{
    width: 100px;
    margin: auto;
   
}
#mapView{
    width: 100px;
    margin: auto;
}
label{
}