body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
    background-color: rgb(213, 213, 213);
    font-family: 'Montserrat Alternates', sans-serif;
    
}

h1{font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    width: 500px;
    margin: auto;
}

grid{
    margin: auto;
    height: 90vh;
    width: 97vw;
    display: grid;
    grid-template-columns: 7fr 1fr 4fr 1fr;
    grid-template-rows: 10px 1fr 15fr;
    background-color: rgb(242,243,244);
    padding: 5px;
    border-radius: 5px;
}
.maps{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    
}
#map1{
    grid-row: 3/4;
    grid-column: 3/4;
    
}

#streetView{
    grid-row: 3/4;
    grid-column: 1/2;
    border-radius: 5px;
    
}

#options{
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(156,192,249);
    grid-row: 3/4;
    grid-column:4/5;
}
#streetViewButtons{
    display: flex;
    justify-content: center;
    grid-column: 1;
}
#mapControls{
    background-color: rgb(253,226,147);
    grid-column: 3/5;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
    height: 50px;
    border-radius: 30px;
}
#score{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}
#yourScore{
    font-size: 20px;
}
#deleteBtn{
    height: 25px;
}
#results{
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 3;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
}
#resultsText{
    margin:0 10px 0 10px;
    font-size: 20px;
}

#latlng{
    display: none;
    padding: 4px;
    margin: 70px 10px 10px 10px;
    background-color: rgb(206,234,214);
    border-radius: 3px;
}
#newLocation{
    padding: 2px;
    width: 70px;
   
}
#roundCount{
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 2/3;
    background-color: rgb(238,103,92);
    margin-bottom: 10px;
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
    height: 50px;
    border-radius: 30px;
}
.buttons{
    font-family: 'Montserrat Alternates', sans-serif;
}
#newLocation{
    width: 50px;
    margin-right: 10px;
    margin-left: 10px
}
@media only screen and (max-width: 590px) {
    #deleteBtn{
        display:none;
    }
}
@media only screen and (max-width: 840px) {
    #mapControls{
        justify-content: space-around;
    }
    #yourScore{
        display: none;
    }
}