.score-form{
    position: relative;
    top: 20px;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    height:fit-content;
    background-color: white;
    width: fit-content;
    margin: 0 auto;
}

input{
    height: 30px;
    margin: 2px;
    border-radius: 3px;
    font-family: poppins;
}
input[type=text]{
    font-size: 20px;
}
input[type=submit]{
border-radius: 10px;
background-color: rgb(225, 229, 30);
}
.name{
    color:rgb(109,255,255)
}
.score{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 769px){
    .score-form{
        width: 80vw;
    }
}
