:root{
  --yellow: rgb(225,229,30);
}
.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: poppins;
}
body{
  height: 100%;
  width: 100vh;
  background-color: var(--yellow);
}
.page{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#ny{
margin-left: 20px;
min-width: 320px;
width: 769px; 
overflow: hidden;
}
.nav{
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}
#menu-logo{
  max-width: 320px;
}
#binoc{

  z-index: -1;
  right:0;
  top: -100px;
  position: absolute;
}
.btn-group{
  margin-right: 60px;
}
.btn{
  margin-left: 12px;
  width: 152px;
  height: 52px;
  border-radius: 5px;
  font-family: poppins;
}
.btn:hover{
  text-decoration: underline;
  cursor: pointer;
}

.how-to{
  margin: 0 auto;
  position: fixed;
  top: 35vh;
  left: 10vw;
  /* transform: translate(-50%, -50%); */
  background-color: white;
  height: 300px;
  width: 300px;
  z-index: 100;
}

@media screen and (max-width: 769px){
  #ny{
    margin: 0 ;
    width: 100vw; 
  }
  #binoc{
    display: none;
  }
  #menu-logo{
    margin: 0 auto;
  }
  .nav{
    flex-direction: column;
  }
  .btn-group{
    top: 300px;
    position: absolute;
  }
}

@media screen and (max-width: 1350px){
  #binoc{
    width: 75%;
  }
}
