.App {
  text-align: center;
  background-color: aqua;
  font-family: poppins;
}

.container form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20%;
  height: 200px;
  align-items: center;
}
button{
  background-color: aquamarine;
  font-family: poppins;
  border: 1px solid blue;
  border-radius: 10px;
}
input{
  border-radius: 10px;
}
.list{
  text-align: left;
  max-width: 300px;
  text-decoration: underline red;
}
.to-do{
  background-color: rgb(228, 217, 103);
}